site_name: justconf
site_description: Minimal schema-agnostic configuration library for Python with support for TOML, dotenv, env vars, and Vault
site_url: https://aleksey925.github.io/justconf/
repo_url: https://github.com/aleksey925/justconf
repo_name: aleksey925/justconf

theme:
  name: material
  custom_dir: docs/overrides
  palette:
    scheme: slate
    primary: black
    accent: indigo
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - search.highlight
    - search.share
    - content.code.copy

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      permalink: true
  - tables

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/aleksey925/justconf
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/justconf/
